#point-map .prediction-marker-tooltip {
    margin: 0;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
}

#point-map .prediction-marker-tooltip .leaflet-tooltip-content-wrapper {
    border-radius: 2px;
}

#point-map .prediction-marker-tooltip h3 {
    white-space: pre-line;
    text-align: center;
    padding: 0;
}

#point-map .prediction-marker-tooltip-content {
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prediction-marker-tooltip-name {
    margin: 0;
    /*line-height: 1.1em;*/
}

.prediction-marker-tooltip-designation {
    margin: 0;
}

.prediction-marker-tooltip-prediction {
    margin: 3px 0 0;
}

/*#map .prediction-marker-tooltip-stats {*/
    /*flex: 1;*/
    /*display: flex;*/
    /*margin: 0;*/
    /*align-items: center;*/
    /*justify-content: flex-start;*/
    /*flex-direction: column;*/
    /*padding: 10px;*/
/*}*/

/*#map .prediction-marker-tooltip-stats hr {*/
    /*margin: 0.25rem 0 0;*/
    /*background-color: rgb(0, 0, 0);*/
    /*height: 3px;*/
    /*align-self: flex-start;*/
    /*border: 0;*/
/*}*/



